{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container rounded-lg py-auto">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1 class="h2 mb-5 font-weight-normal text-center">Login</h1>
                <form noValidate method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.Email | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.Password | as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-danger btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}